@use './variables' as *;

header{
    background: url(./../assets/header-bg.png) no-repeat;
    background-size: cover;
    padding: 20px 0;
    .wrapper{
        display: flex;
        align-items: center;
        height: 100vh;
    }
    div{
        flex-basis: 50%;
    }
    h3{
        color: $orange;
    }
}

.header-image{
    position: relative;
    left: 5%;
    display: flex;
    position: relative;
}

.resume{
    padding: 20px 35px;
    background-color: white;
    position: absolute;
    left: calc(50% - 178.15px / 2);
    bottom: 12.5%;
    color: $deepPurple;
    border: none;
    border-radius: 5px;
    box-shadow: 1.5px 14px 28.5px rgba(247, 6, 115, 0.35);
    transition: color .1s ease-in;

    &:hover,
    &:focus{
        color: #625a72;
        cursor: pointer;
    }
}