@use './variables' as *;

section{
    padding: 100px 0;
    .wrapper{
        opacity: 0;
    }
}

.about .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image{
    flex-basis: 48%;
}

.about-text{
    flex-basis: 50%;
}

.skills{
    text-align: center;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    p{
        font-weight: 500;
    }
    
    li{
        padding: 0 50px;
    }

    img{
        height: 80px;
        object-fit: contain;
    }
} 

.projects{
    background-color: $lightPurple;
    .wrapper{
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        text-align: center;
        margin: 0;
        opacity: 0;
    }
    
    p {
        color: #776E8A
    }
}

.project{
    background-color: white;
    padding: 25px;
    display: flex;
    border-radius: 10px;
    max-width: 1080px;
    justify-content: space-between;
    margin-top: 25px;
    filter: drop-shadow(2.3px 21.9px 39.5px rgba(99, 83, 165, 0.25));
    opacity: 0;
    img {
        border-radius: 10px;
    }
    
    a{
        margin: 75px;
        color: lightgray;
        i {
            font-size: 0.1rem;
        }

        &:hover,
        &:focus,
        &:active {
            color: $lightPurple;
        }
    }

    ul{
        display: flex;
        flex-wrap: wrap;
    }
    
    li {
        padding: 0 15px 0 0;
    }
}

.project-image{
    flex-basis: 53%;
    border-radius: 10px;
    position: relative;
    
    &:hover .overlay,
    &:focus-within .overlay{
        opacity: 1;
        i {
            font-size: 2.5rem;
        }
    }
}

.project-description{
    flex-basis: 44%;

}

.icon-small{
    height: 40px;
}

.sushi-game .project-description,
.guess-the-movie .project-description,
.b4v .project-description{
    order: -1;
}

.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 10px;
}

.contact .wrapper{
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
    }

    li{
        margin-right: 20px;
        cursor: pointer;
    }

    button{
        background: linear-gradient(45deg, #f76f61 0%, #fd5195 100%);
        color: white;
        text-transform: uppercase;
        border-radius: 30px;
        padding: 15px 25px;
        border: none;
        transition: filter .2s;

        &:hover,
        &:focus,
        &:active{
            filter: drop-shadow(-2.8px 12.7px 9.5px rgba(254, 81, 149, 0.3));
        }
    }
}

.linkedin{
    background: linear-gradient(180deg, #7bc3ff 0%, #2175cb 100%);
    border-radius: 50%;
    padding: 10px;
    transition: filter .2s;
    
    &:hover,
    &:focus,
    &:active{
        filter: drop-shadow(0px 7.5px 4.5px rgba(5, 76, 207, 0.4));
        
    }

    a{
        color: white;
    }
}
.github a{
    color: black;
    display: flex;
    align-items: center;
    transition: filter .2s;
    .fa-github{
        background-color: white;
        border-radius: 50%;
    }
    
    &:hover,
    &:focus,
    &:active{
        filter: drop-shadow(0px 7.5px 4.5px rgba(0, 0, 0, 0.4));
    }
}

.socials{
    flex-basis: 35%;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 60%;
    *:focus{
        outline: none;
    }

    i{
        position: absolute;
        right: 30px;
        top: 33%;
        color: #887ba7;
    }
    
    .email,
    textarea,
    button{
        margin-top: 15px;
    }
}

.name,
.email,
textarea{
    background-color: #fbfbff;
    border: 1px solid rgba(98, 45, 207, 0.1);
    border-radius: 30px;
    line-height: 28px; 
    width: 100%;    
    position: relative;   
}

textarea{
    padding: 20px;
}

input{
    border: none;
    background: none;
    padding: 20px;
}

.slide-up{
    animation: slide-up .8s cubic-bezier(0, 1, 0.5, 1);
}

.slide-up-projects{
    animation: slide-up-projects .8s cubic-bezier(0, 1, 0.5, 1);
}

@keyframes slide-up {
    0%{
        transform: translateY(30%);
    }
    
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-up-projects {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}