@use './variables' as *;

section{
    margin: 100px 0;
}

.about .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-image{
    width: 48%;
}
.about-text{
    width: 50%;
    p{
        line-height: 30px;
    }
}

.skills{
    text-align: center;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    p{
        font-weight: medium;
    }
    li{
        padding: 0 50px;
    }
    img{
        height: 80px;
        object-fit: contain;
    }
} 