@use './variables' as *;

section{
    padding: 100px 0;
    p {
        line-height: 30px;
    }
}

.about .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-image{
    flex-basis: 48%;
}
.about-text{
    flex-basis: 50%;
}

.skills{
    text-align: center;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    p{
        font-weight: medium;
    }
    li{
        padding: 0 50px;
    }
    img{
        height: 80px;
        object-fit: contain;
    }
} 

.projects{
    background-color: $lightPurple;
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        text-align: center;
        margin: 0;
    }
}

.project{
    background-color: white;
    padding: 25px;
    display: flex;
    border-radius: 10px;
    max-width: 1080px;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 25px;
}

.project-image{
    flex-basis: 53%;
    border-radius: 10px;
    position: relative;
    img{
        border-radius: 10px;
    }

    &:hover .overlay,
    &:focus-within .overlay{
        opacity: 1;
    }
}

.project-description{
    flex-basis: 44%;
    p{
        color: #776E8A
    }
    ul{
        display: flex;
    }
    li{
        padding: 0 10px;
    }
}
.guess-the-movie .project-image{
    order: -1;
}

.overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 10px;
    a{
        margin: 75px;
        color: lightgray;
        &:hover,
        &:focus{
            color: $lightPurple;
        }
    }
}


