@use './variables' as *;

html{
    font-family: $primaryFont;
    color: $purple;
    font-size: 125%;
    line-height: 35px;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 4.5rem;
    margin-top: 0;
}

h2{
    font-size: 3rem;
    font-weight: bold;
}

h3{
    color: $orange;
    font-weight: medium;
    font-size: 1.8rem;
}

a{
    color: $fuchsia;
    text-decoration: none;
    &:hover{
        color: $orange
    }
}

span{
    color: $orange;
}

button{
    font-weight: medium;
}
