@use './variables' as *;

html{
    font-family: $primaryFont;
    color: $darkPurple;
    font-size: 125%;
}

h1{
    font-family: $secondaryFont;
    color: white;
    font-weight: bold;
    font-size: 4.5rem;
    margin-top: 0;
}

h2{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
}

h3{
    font-weight: 500;
    font-size: 1.8rem;
}

h4{
    font-weight: 500;
    margin: 0;
}

a{
    color: $fuchsia;
    text-decoration: none;
    &:hover{
        color: $orange
    }
}

p{
    line-height: 30px;
}

span{
    color: $orange;
}

button{
    font-weight: 500;
}
