//colours
$orange: #FF9600;
$deepPurple: #1D0C40;
$darkPurple: #3E276C;
$purple: #684DA1;
$lightPurple: #f7f4fd;
$fuchsia: #c74fbf;

// fonts
$primaryFont: 'Now', sans-serif;
$secondaryFont: 'Glacial Indifference', sans-serif;

@font-face {
    font-family: 'Glacial Indifference';
    src: url(./../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Now';
    src: url(./../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Now';
    src: url(./../assets/fonts/Now-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'Now';
    src: url(./../assets/fonts/Now-Regular.otf);
}