html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url(./../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: "Glacial Indifference";
  src: url(./../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Glacial Indifference";
  src: url(./../assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf);
  font-style: italic;
}
@font-face {
  font-family: "Now";
  src: url(./../assets/fonts/glacial-indifference/Now-Black.otf);
  font-weight: 900;
}
@font-face {
  font-family: "Now";
  src: url(./../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Now";
  src: url(./../assets/fonts/Now-Light.otf);
  font-weight: light;
}
@font-face {
  font-family: "Now";
  src: url(./../assets/fonts/Now-Medium.otf);
  font-weight: medium;
}
@font-face {
  font-family: "Now";
  src: url(./../assets/fonts/Now-Regular.otf);
}
@font-face {
  font-family: "Now";
  src: url(./../assets/fonts/Now-thin.otf);
  font-weight: thin;
}
html {
  font-family: "Now", sans-serif;
  color: #3E276C;
  font-size: 125%;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 4.5rem;
  margin-top: 0;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
}

h3 {
  font-weight: medium;
  font-size: 1.8rem;
}

h4 {
  font-weight: medium;
  margin: 0;
}

a {
  color: #c74fbf;
  text-decoration: none;
}
a:hover {
  color: #FF9600;
}

span {
  color: #FF9600;
}

button {
  font-weight: medium;
}

header {
  background-size: cover;
  background: url(./../assets/header-bg.png) no-repeat;
  background-size: cover;
  width: 100%;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
header div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
header h3 {
  color: #FF9600;
}

.header-image {
  position: relative;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.resume {
  padding: 20px 35px;
  background-color: white;
  position: absolute;
  left: calc(50% - 89.075px);
  bottom: 12.5%;
  color: #1D0C40;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 1.5px 14px 28.5px rgba(247, 6, 115, 0.35);
          box-shadow: 1.5px 14px 28.5px rgba(247, 6, 115, 0.35);
}
.resume i {
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
.resume:hover i, .resume:focus i {
  color: #625a72;
}

section {
  padding: 100px 0;
  opacity: 0;
}
section p {
  line-height: 30px;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-image {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.about-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.skills {
  text-align: center;
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills p {
  font-weight: medium;
}
.skills li {
  padding: 0 50px;
}
.skills img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.projects {
  background-color: #f7f4fd;
  opacity: 1;
}
.projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}
.projects h2 {
  text-align: center;
  margin: 0;
}

.project {
  background-color: white;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  max-width: 1080px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  margin-top: 25px;
  -webkit-filter: drop-shadow(2.3px 21.9px 39.5px rgba(99, 83, 165, 0.25));
          filter: drop-shadow(2.3px 21.9px 39.5px rgba(99, 83, 165, 0.25));
}

.project-image {
  -ms-flex-preferred-size: 53%;
      flex-basis: 53%;
  border-radius: 10px;
  position: relative;
}
.project-image img {
  border-radius: 10px;
}
.project-image:hover .overlay, .project-image:focus-within .overlay {
  opacity: 1;
}

.project-description {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
}
.project-description p {
  color: #776E8A;
}
.project-description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-description li {
  padding: 0 10px;
}

.guess-the-movie .project-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  border-radius: 10px;
}
.overlay a {
  margin: 75px;
  color: lightgray;
}
.overlay a:hover, .overlay a:focus, .overlay a:active {
  color: #f7f4fd;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .wrapper li {
  margin-right: 20px;
  cursor: pointer;
}
.contact .wrapper button {
  background: linear-gradient(45deg, #f76f61 0%, #fd5195 100%);
  color: white;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 15px 25px;
  border: none;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.contact .wrapper button:hover, .contact .wrapper button:focus, .contact .wrapper button:active {
  -webkit-filter: drop-shadow(-5.4px 25.4px 19px rgba(254, 81, 149, 0.3));
          filter: drop-shadow(-5.4px 25.4px 19px rgba(254, 81, 149, 0.3));
}

.linkedin {
  background: -webkit-gradient(linear, left top, left bottom, from(#7bc3ff), to(#2175cb));
  background: linear-gradient(180deg, #7bc3ff 0%, #2175cb 100%);
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.linkedin:hover, .linkedin:focus, .linkedin:active {
  -webkit-filter: drop-shadow(0px 15px 9px rgba(5, 76, 207, 0.4));
          filter: drop-shadow(0px 15px 9px rgba(5, 76, 207, 0.4));
}
.linkedin a {
  color: white;
}

.github a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.github a .fa-github {
  background-color: white;
  border-radius: 50%;
}
.github a:hover, .github a:focus, .github a:active {
  -webkit-filter: drop-shadow(0px 15px 9px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 15px 9px rgba(0, 0, 0, 0.4));
}

.socials {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
form *:focus {
  outline: none;
}
form i {
  position: absolute;
  right: 30px;
  top: 33%;
  color: #887ba7;
}
form .email,
form textarea,
form button {
  margin-top: 15px;
}

.name,
.email,
textarea {
  background-color: #fbfbff;
  border: 1px solid rgba(98, 45, 207, 0.1);
  border-radius: 30px;
  line-height: 28px;
  width: 100%;
  position: relative;
}

textarea {
  padding: 20px;
}

input {
  border: none;
  background: none;
  padding: 20px;
  width: 100%;
}

.slide-up {
  -webkit-animation: slide-up 0.8s cubic-bezier(0, 1, 0.5, 1);
          animation: slide-up 0.8s cubic-bezier(0, 1, 0.5, 1);
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
footer {
  text-align: center;
  color: #5c4194;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wrapper {
    width: 90%;
  }
  .skills li {
    width: 205.317px;
  }
  .project {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socials {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .contact {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
  h2,
h3 {
    text-align: center;
  }
  header .wrapper div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-image {
    display: none;
  }
  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .skills li {
    width: 150px;
    padding: 0 20px;
  }
  .skills li img {
    height: 40px;
  }
  .skills li i {
    font-size: 2rem;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mikasa .project-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .wrapper h4 {
    display: none;
  }
  .contact .wrapper ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 50px 0;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  section {
    padding: 80px 0;
  }
  footer {
    font-size: 0.8rem;
  }
}